/*background-section styles*/
.background-section {
    background-image: url(../images/background/20200217-5-Kyoto-Pagode-Kiyomizu-Dera46.JPG);
    padding: 100px;
    height: 5000px;
    background-attachment: fixed;
    background-position:    center;
    background-repeat: no-repeat;
    background-size: cover;
}